<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <title>PACK GO &mdash; Logistica al alcance de todos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto Condensed:300,400,700|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'landing/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">info@packgo.com.ar</span></a>
              <span class="mx-md-2 d-inline-block"></span>

              <div class="float-right">

                <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href=https://www.instagram.com/packgo_/ class=""><span class="mr-2  icon-instagram"></span> <span class="d-none d-md-inline-block">Instagram</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href=https://www.linkedin.com/company/pack-go/ class=""><span class="mr-2  icon-linkedin"></span> <span class="d-none d-md-inline-block">LinkedIn</span></a>

              </div>

            </div>

          </div>

        </div>
      </div>

      <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="site-logo">
              <a href="#"><img src="{% static 'landing/images/PGO_LogoAzul.png' %}" alt="Image"><a/>
              <!--<a href="index.html" class="text-black"><span class="text-primary">PACK GO</a>-->
            </div>

            <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#services-section" class="nav-link">Que Hacemos</a></li>
                  <li><a href="#about-section" class="nav-link">Quienes Somos</a></li>
                  <li><a href="#team-section" class="nav-link">Equipo</a></li>
                  <li><a href="#why-us-section" class="nav-link">Porque Nosotros</a></li>
                  <li><a href="#testimonials-section" class="nav-link">Nuestros Clientes</a></li>
                  <li><a href="#contact-section" class="nav-link">Contacto</a></li>
                </ul>
              </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>
        </div>

      </header>

      <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('{% static 'landing/images/fondo_2.jpg' %}')">
          <div class="container">
            <div class="row align-items-center" data-aos="fade-up" data-aos-delay="">
              <div class="col-lg-6">
                <h1>Pack GO es una compañía enfocada en la logística, basándonos en tecnología y el desarrollo de la red.</h1>
                <p class="mb-5">El gran avance del E-Commerce en el mundo ha causado una cambio de paradigma en el consumo de bienes, y por lo tanto, en la logistica. Pack GO nacio para acompañar y eficientizar ese cambio.</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END .ftco-cover-1 -->


      </div>

      <div class="site-section bg-light" id="services-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="">
              <div class="block-heading-1">
                <h2>Nuestros Servicios</h2>
              </div>
            </div>
          </div>
          <div class="owl-carousel owl-all">
            <div class="block__35630">
              <div class="icon mb-0">
                <span class="flaticon-lorry"></span>
              </div>
              <h3 class="mb-3">Larga Distancia</h3>
              <p>Servicio puerta a puerta con tiempo de entrega entre 24 y 72 horas. </p>
            </div>

            <div class="block__35630">
              <div class="icon mb-0">
                <span class="flaticon-box"></span>
              </div>
              <h3 class="mb-3">Ultima Milla</h3>
              <p>Servicio Go Tradicional: Same day. Servicio Go Flash: Entrega en 3hs.</p>
            </div>

            <div class="block__35630">
              <div class="icon mb-0">
                <span class="flaticon-warehouse"></span>
              </div>
              <h3 class="mb-3">Deposito</h3>
              <p>Servicio de Deposito Tradicional. Servicio de Fullfilment para eCommerce. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section bg-light" id="about-section">
        <div class="container">
          <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
            <div class="col-md-7 text-center">
              <div class="block-heading-1">
                <h2>Quienes Somos</h2>
                <p>Somos la red logística mejor desarrollada combinándola con desarrollos tecnológicos para la obtención de información en tiempo real y reduciendo tiempos de entrega.</p>
              </div>
            </div>
          </div>
          <div class="owl-carousel owl-all">
            <div class="block__35630">
              <h3 class="mb-3">Mision</h3>
              <p> Desarrollar la red logística con mayor capilaridad; con operadores unidos a la tecnología Pack Track. </p>
            </div>

            <div class="block__35630">
              <h3 class="mb-3">Vision</h3>
              <p>Ser la mejor red logística para el mundo teniendo como base la tecnología para el obtencion de datos.</p>
            </div>

            <div class="block__35630">
              <h3 class="mb-3">Valor Agregado</h3>
              <p>Eliminamos la friccion en la logistica, para que la experiencia de usuario sea satisfactoria y hagamos crecer el ecommerce.</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
            <div class="col-md-7 text-center">
              <div class="block-heading-1">
                <h2>Nuestros Numeros</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="5">0</span>+</span>
                    <span class="caption">Años de experiencia</span>
                  </div>
                </div>
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="20">0</span>+</span>
                    <span class="caption">Clientes</span>
                  </div>
                </div>
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="150">0</span>+</span>
                    <span class="caption">Packers</span>
                  </div>
                </div>
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="10">0</span>+</span>
                    <span class="caption">Partners</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section" id="team-section">
        <div class="container">
          <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
            <div class="col-md-7 text-center">
              <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
                <h2>Nosotros</h2>
                <p>Este es el equipo que empezo con el sueño de revolucionar la logistica en el Ecommerce en Argentina.</p>
              </div>
            </div>
          </div>

          <div class="owl-carousel owl-all">
            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="{% static 'landing/images/marcos.png' %}" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-black">Marcos Heyd</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Co-Founder & CEO</span>
              <div class="block-social-1">
               <!-- <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a> -->
                <a href="https://www.linkedin.com/in/marcos-heyd/" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <!--<a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>-->
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="{% static 'landing/images/lucio.png' %}" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-black">Lucio Fernandez</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Co-Founder</span>
              <div class="block-social-1">
                <!--<a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>-->
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <!--<a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>-->
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="{% static 'landing/images/nacho.png' %}" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-black">Ignacio Grosso</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Partner & CTO</span>
              <div class="block-social-1">
                <!--<a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>-->
                <a href="https://www.linkedin.com/in/ignaciogrosso/" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <!--<a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>-->
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="block__73694 site-section border-top" id="why-us-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image: url('{% static 'landing/images/fondo_3.png' %}');" data-aos="fade-left" data-aos-delay="">
            </div>



            <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
              <h2 class="mb-4 text-black">Porque Nosotros</h2>
              <h4 class="text-primary">Trabajamos eficientemente con la mejor calidad!</h4>
              <p>Ofrecemos los siguentes Servicios de Valor Agregado:</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Desarrollo del Picking point</li>
                <li>Integración Tecnológica</li>
                <li>Red de depositos para Fullfilment</li>
                <li>Acceso a la información</li>
                <li>Trackeo y Dashboard de control 24/7</li>
                <li>Remitos Digitalizados</li>
                <li>Red de operadores logísticos</li>
                <li>Alcance Nacional Puerta a Puerta</li>
              </ul>

            </div>

          </div>
        </div>
      </div>


      <div class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
        <div class="container">

          <div class="text-center mb-5">
            <div class="block-heading-1">
              <h2>Nuestros Clientes</h2>
            </div>
          </div>

          <div class="owl-carousel nonloop-block-13">
            <div>
              <div class="block-testimony-1 text-center">

                <figure>
                  <img src="{% static 'landing/images/walmart.png' %}" alt="Image" class="img-fluid mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Walmart</h3>
              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">

                <figure>
                  <img src="{% static 'landing/images/electrolux.png' %}" alt="Image" class="img-fluid mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Electrolux</h3>


              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">

                <figure>
                  <img src="{% static 'landing/images/gofriz.png' %}" alt="Image" class="img-fluid mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">GoFriz</h3>

              </div>
            </div>
            <div>
              <div class="block-testimony-1 text-center">

                <figure>
                  <img src="{% static 'landing/images/popack.png' %}" alt="Image" class="img-fluid mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Popack</h3>

              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">

                <figure>
                  <img src="{% static 'landing/images/vanesa.png' %}" alt="Image" class="img-fluid mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Vanesa Duran</h3>

              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">

                <figure>
                  <img src="{% static 'landing/images/hausmobel.png' %}" alt="Image" class="img-fluid mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Hause Mobel</h3>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5" data-aos="fade-up" data-aos-delay="">
            <div class="block-heading-1">
              <span>Acerquese</span>
              <h2>Contactenos</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Apellido">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Escriba su mensaje." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Enviar Mensaje">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-black mb-4">Informacion de Contacto</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-black">Direccion:</span>
                  <span>Alvarez de Condarci 2190, Cordoba, Argentina</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>info@packgo.com.ar</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">Acerca de Nosotros</h2>
                <p>Venimos a solucionar la logistica en Argentina. </p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Secciones</h2>
                <ul class="list-unstyled">
                  <li><a href="#">Nosotros</a></li>
                  <li><a href="#">Nuestros Clientes</a></li>
                  <li><a href="#">Condiciones de Servicio</a></li>
                  <li><a href="#">Privacidad</a></li>
                  <li><a href="#">Contactenos!</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Suscribir a noticias!</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Suscribir</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Siguenos</h2>
            <a href="#" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>

      </div>
    </footer>

    </div>

    <script src="{% static 'landing/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'landing/js/popper.min.js' %}"></script>
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'landing/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'landing/js/aos.js' %}"></script>

    <script src="{% static 'landing/js/main.js' %}"></script>


  </body>

</html>
